{
    email {$CADDY_EMAIL}
}

{$SITE_ADDRESS} {
    encode gzip zstd

    handle /api* {
        reverse_proxy backend:8000
    }

    handle /docs* {
        reverse_proxy backend:8000
    }

    handle /openapi.json {
        reverse_proxy backend:8000
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
